.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.double-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.double-inputs > * {
  flex: 1;
}

.submit-button {
  align-self: flex-end;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .double-inputs {
    flex-direction: column;
  }
}
