.description-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  color: var(--c1);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.subtitle {
  color: var(--c1);
  font-size: 1.25rem;
  font-weight: 400;
}
