.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.online-step {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.online-step .label {
  grid-column: 1/-1;
  color: var(--c3);
  font-size: 0.875rem;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.question-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem 1rem;
}

.delete-question-button {
  grid-column: 1/-1;
  justify-self: flex-end;
}

.add-question-button,
.delete-question-button {
  all: unset;
  color: var(--b3);
  font-size: 0.875rem;
  white-space: nowrap;
  cursor: pointer;

  width: min-content;
}

.add-question-button:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
