.statistic-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.statistic-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statistic-list li svg {
  width: 1.25rem;
}

.statistic-list li span {
  color: var(--c3);
}

.statistic-list li span b {
  color: var(--c2);
}

.statistic-list li:has(ul) {
  display: grid;
  grid-template-columns: auto 1fr;
}

.statistic-list li ul {
  grid-column: 1 / -1;
  margin-left: 1.75rem;
}

@media (max-width: 800px) {
  .statistic-list {
    grid-template-columns: 1fr;
  }
}
