.header {
  padding: 16px 32px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  padding: 6rem 6rem 0;
  box-sizing: border-box;
  margin: auto;
  min-height: 100dvh;
  max-width: 1400px;
}

.title {
  color: var(--c0);
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  width: 15ch;
}

.subtitle {
  color: var(--c2);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  max-width: 36ch;
}

.description {
  color: var(--c2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.button {
  position: relative;
  color: var(--c2);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background 0.2s;
  padding: 0.75rem 1rem;
  width: 240px;
}

.button.candidate-button {
  color: var(--c7);
  font-weight: 700;
  background-color: var(--p1);
}

.figure-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  width: min(500px, 100%);
}

.figure-container svg {
  max-width: 400px;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }

  .figure-container {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 6rem 4rem 0;
  }

  .title {
    font-size: 3rem;
    width: unset;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .buttons-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    background-color: var(--c6);
  }
}

@media (max-width: 500px) {
  .main {
    padding: 6rem 3rem 0;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .button {
    width: 100%;
  }
}
