.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem 0;
  padding: 6rem 6rem 0;
  box-sizing: border-box;
  margin: auto;
  min-height: 100dvh;
  max-width: 1400px;
}

.title {
  color: var(--c0);
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  max-width: 15ch;
}

.subtitle {
  color: var(--c2);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.description {
  color: var(--c2);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 2rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.button {
  position: relative;
  color: var(--c2);
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background 0.2s;
  padding: 0.75rem 1rem;
}

.candidate-button {
  color: var(--c7);
  font-weight: 700;
  background-color: var(--p1);
}

.figure-container {
  justify-self: flex-end;
  align-self: flex-end;
  padding: 8rem 0 0 6rem;
  width: min(500px, 100%);
}

.notice {
  grid-column: 1/-1;
  color: var(--c3);
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 1rem;
}
