.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--c0);
  border-radius: 4px;
  padding: 6rem 4rem;
  width: min(450px, 100%);
}

@media (max-width: 500px) {
  .container {
    padding: 6rem 3rem;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 6rem 2rem;
  }
}
