.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--c7);
  border-radius: 4px;
  overflow: auto;
  padding: 4rem;
  width: min(600px, 100%);
  max-height: 90dvh;
}

.close-button {
  all: unset;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
  padding: 0.5rem;
  top: 1.5rem;
  right: 1.5rem;
}

.close-button:hover {
  background-color: var(--c6);
}

@media (max-width: 500px) {
  .modal {
    padding: 4rem 2rem;
  }
}
