.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: block;
  color: var(--c3);
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.options {
  display: flex;
  gap: 1rem;
}

.submit-button {
  margin-top: 1rem;
}
