.title {
  color: var(--c2);
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.apply-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 1.25rem;
}

.apply-container > * {
  flex: 1;
}
