.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
}

.title {
  color: var(--c1);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.attribute-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.attribute-list .item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.attribute-list .icon {
  width: 1rem;
}

.attribute-list .value {
  color: var(--c3);
  font-size: 0.75rem;
}

.elapsed-time {
  color: var(--c5);
  font-size: 0.75rem;
  font-style: italic;
}
