.form {
  margin-bottom: 0.75rem;
}

.input {
  margin-bottom: 1rem;
}

.input:last-of-type {
  margin-bottom: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-registered {
  color: var(--c5);
  font-size: 0.875rem;
}

.not-registered:hover {
  text-decoration: underline;
}
