.form {
  margin-bottom: 0.75rem;
}

.input {
  margin-bottom: 1rem;
}

.input:last-of-type {
  margin-bottom: 1.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 0.5rem 2rem;
}

.not-registered {
  flex: 1;
  color: var(--c5);
  font-size: 0.875rem;
  text-align: end;
  white-space: nowrap;
}

.not-registered:hover {
  text-decoration: underline;
}
